body {
    background-color: white;
}

#playGrid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square {
    background-color: black;
    width: 98px;
    height: 98px;
    margin: 1px;
}